<VirtualHost *:<%= @port %>>
    ServerName <%= @serverName %>
    ServerAlias www.<%= @serverName %>
    DocumentRoot "<%= @documentRoot %>/public"
    <Directory "<%= @documentRoot %>/public">
        Options Indexes FollowSymlinks
        AllowOverride all
        Order allow,deny
        Allow from all
        DirectoryIndex index.html index.php
    </Directory>

    RewriteEngine on
    RewriteCond %{HTTP_HOST} !^www\. [NC]
    RewriteCond %{HTTP_HOST} !^$
    RewriteRule ^/?(.*) http://www.%{HTTP_HOST}/$1 [L,R,NE]

    SetEnv APPLICATION_ENV development

    LogLevel notice
    ErrorLog "${APACHE_LOG_DIR}/<%= @serverName %>-error_log"
    CustomLog "${APACHE_LOG_DIR}/<%= @serverName %>-access_log" common
</VirtualHost>
